.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 730px;
    left: 64px;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
    z-index: 2;
}